
.title, .yep {
    text-align: center;
}
h1 {
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 80px;
    transform: skewY(-10deg);
    letter-spacing: 4px;
    word-spacing: -8px;
    color: tomato;
    text-shadow: 
      -1px -1px 0 firebrick,
      -2px -2px 0 firebrick,
      -3px -3px 0 firebrick,
      -4px -4px 0 firebrick,
      -5px -5px 0 firebrick,
      -6px -6px 0 firebrick,
      -7px -7px 0 firebrick,
      -8px -8px 0 firebrick,
      -30px 20px 40px dimgrey
  }

.lebron {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid grey;
}

.bowl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border: 5px solid grey;
}
.burr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 400px;
    border: 5px solid grey;
}
body {
        background: #fcf3ec;
}

.list1 {   
    text-align: center;
    font-size: xx-large;
}
a:link {
    text-decoration: none;
    color: #e55743 ;
  }
  
a:visited {
    text-decoration: none;
    color: #e55743 ;
  }
  
a:hover {
    text-decoration: underline;
    color: #e55743 ;
  }
  
a:active {
    text-decoration: underline;
    color: #e55743 ;
  }
  
.button {
    --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  color: #e55743;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}